<div>
    
    <div class="row justify-content-center align-items-center">
        
        <stats comments="Cotizador" colour="primary" type="money"></stats>
        <stats comments="Eventos" colour="primary" type="calendar"></stats>
        <stats comments="Reportes" colour="primary" type="bar-chart"></stats>
        <stats comments="Cobranza" colour="primary" type="credit-card"></stats>
        <stats comments="Alimentos y bebidas" colour="primary" type="cutlery"></stats>
        <stats comments="Administración" colour="primary" type="cog"></stats>

    </div>
    <!-- /.row -->
    
</div>
