<div>
    
    <div class="row justify-content-center align-items-center">
        
        <stats comments="Cotizador" colour="primary" type="money" page="dashboard.admin"></stats>
        <stats comments="Eventos" colour="primary" type="calendar" page="dashboard.admin"></stats>
        <stats comments="Reportes" colour="primary" type="bar-chart" page="dashboard.admin"></stats>
        <stats comments="Cobranza" colour="primary" type="credit-card" page="dashboard.admin"></stats>
        <stats comments="Alimentos y bebidas" colour="primary" type="cutlery" page="dashboard.admin"></stats>
        <stats comments="Administración" colour="primary" type="cog" page="dashboard.admin"></stats>

    </div>
    <!-- /.row -->
    
</div>
