<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Administración</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Usuarios
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Departamento</th>
                                <th>Teléfono</th>
                                <th>E-mail</th>
                                <th>Domicilio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Marco Alvarado</td>
                                <td>Sistemas</td>
                                <td>492 492 3155</td>
                                <td>piyojr@gmail.com</td>
                                <td>Del Ángel #3</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Luis Fernando</td>
                                <td>Sistemas</td>
                                <td>449 222 1618</td>
                                <td>pfernandofv@gmail.com</td>
                                <td>Calle del King #100</td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Laura Ruelas</td>
                                <td>Cobranza</td>
                                <td>492 123 4567</td>
                                <td>cobranza@donmiguel.com</td>
                                <td>Calle don Miguel #222</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>